name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.PAT }}

      # - name: Merge main into PR branch
      #   if: github.event_name == 'pull_request'
      #   run: |
      #     git config user.name "GitHub Actions"
      #     git config user.email "actions@github.com"
      #     git fetch origin main
      #     if ! git merge origin/main; then
      #       echo "Merge failed due to conflicts. Please rebase your branch on main."
      #       exit 1
      #     fi
      # - name: Install Nix
      #   uses: DeterminateSystems/nix-installer-action@main
      # - name: Setup Nix cache
      #   uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Run checks
        run: nix flake check -Lvv --log-format bar-with-logs
